body {
  background-color: #39E8E0;
}

h1 {
  color: #7B8585;
  text-align: center;
 font-family: 'Cookie', cursive;
  font-size: 35;
  
}

h2 {
  color: #7B8585;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

ul {
  border: inset;
}
