body {
  background-color: #39E8E0;
}

h1 {
  color: #7B8585;
  text-align: center;
  font-family: 'Playfair Display', serif;
  
}

h2 {
  color: #7B8585;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

ul {
  border: inset;
}
