body {
  background-color: #AABFD7;
}

h1 {
  color: #3A4E64;
  text-align: center;
 font-family: 'Cookie', cursive;
 
  
}

h2 {
  color: #FAFCFF;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

ul {
  border: dotted;
}

h3 {
  text-align: left;
  color: #000000;
  font-family: 'Philosopher', sans-serif;
}
